
.galeRia {
    color: rgb(74, 41, 41);
    text-align: center;
    font-size: 35px;
    font-style: italic;

}
.textoCentrado {
    text-align: center;
    font-size: larger;
    flex-wrap: wrap;
    justify-content: left;
}
.colorPink {
    color: rgb(61, 32, 32);
    font-size: larger;
    flex-wrap: wrap;
    justify-content: left;


}
.fotoDiv2 {
    text-align: center;
    height: auto;
}
.foto4 {
    width: 300px;
    margin: 10px;
}
.form1 {
    display: flexbox;
    flex-direction: column;
    margin: 15px 0px 0px 0px;



}
.textoDeMi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.marginTexto{
    margin-right: 60px;
}
.marginFoto{
    margin-bottom: 60px;
}
.containerDeMi{
    display: grid;
    grid-template-areas: "navegacion navegacion navegacion navegacion"
                        "tituDeMi tituDeMi tituDeMi tituDeMi"
                        "fotoDeMi fotoDeMi textoDeMi textoDeMi"
                        
                        "pie pie pie pie";

                        grid-template-columns: 25% 25% 25% 25%;
                        grid-template-rows: 4fr;
}
.tituDeMi{
    grid-area: tituDeMi;
}
.textoDeMi{
    grid-area: textoDeMi;
}
.fotoDeMi{
    grid-area: fotoDeMi;
}
