.imaGenfondo {
    min-height: 100px;
    min-width: 300px;
    z-index: -1;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0.8;
}
.menu {

    background-color: pink;
    margin: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;

}
.galeRia {
    color: palevioletred;
    text-align: center;
    font-size: 35px;
    font-style: italic;

}
.textoCentrado {
    text-align: center;
    font-size: larger;
    flex-wrap: wrap;
    justify-content: left;
}
.colorPink {
    color: rgb(216, 58, 111);
    font-size: larger;
    flex-wrap: wrap;
    justify-content: left;


}
.fotoDiv2 {
    text-align: center;
    height: auto;
}
.foto4 {
    width: 300px;
    margin: 10px;
}
.form1 {
    display: flexbox;
    flex-direction: column;
    margin: 15px 0px 0px 0px;



}
