
.galeRia {
    color: palevioletred;
    text-align: center;
    font-size: 35px;
    font-style: italic;

}
.textoCentrado {
    text-align: center;
    font-size: larger;
    flex-wrap: wrap;
    justify-content: left;
}
.colorPink {
    color: rgb(216, 58, 111);
    font-size: larger;
    flex-wrap: wrap;
    justify-content: left;


}
.fotoDiv2 {
    text-align: center;
    height: auto;
}
.foto4 {
    width: 300px;
    margin: 10px;
}
.form1 {
    display: flexbox;
    flex-direction: column;
    margin: 15px 0px 0px 0px;



}
