 .imaGenfondo {
    min-height: 100px;
    min-width: 300px;
    z-index: -1;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0.8;
}

.menu {

    background-color: pink;
    margin: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;

}

.dereChoss {
    display: flex;
    justify-content: center;
}

.dereChos {
    @extend .dereChoss;
    font-size: 10px;
    text-align: center;
    align-items: center;

}

.redesFoot {
    display: flex;
    align-items: center;
    font-size: 50px;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;
    background: rgb(255, 155, 199);
    background: linear-gradient(225deg, rgba(255, 155, 199, 1) 10%, rgba(191, 190, 214, 1) 51%, rgba(121, 228, 230, 1) 100%);
}

.footer {

     bottom: 0;
     position: absolute;
    text-align: center;
    opacity: 0.8;
    margin-top: auto;
    @include formatter(100%, 60px);
    background: rgb(118, 198, 214);

}

.dereChos1 {
    font-size: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.menu {

    background-color: pink;
    margin: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;

}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    color: antiquewhite;
    font-size: 20px;
    margin: 5px;
    text-decoration: none;
}

.menu ul li :hover {
    background-color: papayawhip;
}

.menu ul ul {

    display: none;
    position: absolute;
}

.menu ul li:hover>ul {
    display: block;
}

nav ul li a {

    text-decoration: none;
    font-family: "Dancing Script", cursive;
    color: rgb(177, 54, 177);
}

.redesFoot a i {
    padding: 5px;
    color: #FF6FB5;
    justify-content: center;

}

.fa-instagram-square:hover {

    color: #fff;
}

header h1 {
    text-align: center;
    color: palevioletred;
    font-size: 43px;

}

.pAlgo {
    font-size: 1rem;
    font-family: cursive;
    color: rgb(223, 136, 177);
    text-align: center;

}

h3 {
    font-size: 2rem;
    font-family: cursive;
    color: rgb(240, 234, 205);
    text-align: center;
    flex-direction: row;
}

.pie {
    grid-area: pie;
}

.dereChos {
    font-size: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

$color-fondo: pink;

.navbar {

    background-color: $color-fondo;
    margin: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;

    ul {
        li {
            list-style-type: none;
            display: inline-block;
            color: antiquewhite;
            font-size: 20px;
            margin: 5px;
            text-decoration: none;

            &:hover {
                background-color: pink;

                ul {
                    display: block;
                }
            }

        }

        ul {
            display: none;
            position: absolute;

        }
    }

}

.navbar ul li:hover>ul {
    display: block;
}