.form1 {
    display: flexbox;
    flex-direction: column;
    margin: 15px 0px 0px 0px;

}


.posit{
    position: relative;
}


$botones:(
    enviar: rgb(230, 107, 128),
    limpiar: #74e4ee
);
@each $bt, $color in $botones {
    .btn--#{$bt}{
        background-color: $color;
    }
    
}

@mixin formatter($ancho, $alto) {
    width: $ancho;
    height: $alto;
}
