.form1 {
    display: flexbox;
    flex-direction: column;
    margin: 15px 0px 0px 0px;

}


.posit{
    position: relative;
}

.divModelForm {
    padding: 10px 10px 10px 0px;
}
.divModelFormBtn {
    padding: 0px 0px 10px 0px;
}

$botones:(
    enviar: rgb(230, 107, 128),
    limpiar: #74e4ee
);
@each $bt, $color in $botones {
    .btn--#{$bt}{
        background-color: $color;
    }
    
}

@mixin formatter($ancho, $alto) {
    width: $ancho;
    height: $alto;
}
.field1 {
    @include formatter (400px, auto);
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.flexTitu{
    display: flex;
    justify-content: center;
    align-items: center;
}
