

.conteneDos {
    display: grid;
    grid-template-areas: "navegacion navegacion navegacion"
        "titu titu titu"
        "pic1 . textpic1"
        "textpic2 . pic2"
        "pic3 . textpic3"
        "textpic4 . pic4"
        "pic5 . textpic5"
        "textpic6 . pic6"
        "pie pie pie";
    grid-template-columns: 48% 2% 48%;
    grid-template-rows:9fr;

}

.titu {
    grid-area: titu;
}.navegacion {
    grid-area: navegacion;
}
.pic1 {
    grid-area: pic1;
}

.pic2 {
    grid-area: pic2;
}

.pic3 {
    grid-area: pic3;
}

.pic4 {
    grid-area: pic4;
}

.pic5 {
    grid-area: pic5;
}

.pic6 {
    grid-area: pic6;
}

.textpic1 {
    grid-area: textpic1;
}

.textpic2 {
    grid-area: textpic2;
}

.textpic3 {
    grid-area: textpic3;
}

.textpic4 {
    grid-area: textpic4;
}

.textpic5 {
    grid-area: textpic5;
}

.textpic6 {
    grid-area: textpic6;
}



.menuTodos {
    -ms-flex-align: center;
}
.galeRia {
    color: palevioletred;
    text-align: center;
    font-size: 35px;
    font-style: italic;

}
.foto1 {
    padding: 15px;
    margin:15px;
    width: 70%;
    height:100%;
    background-color: antiquewhite;
    text-align: center;




}
.bel {
    font-size: 1rem;
    font-family: cursive;

    text-align: center;
    justify-content: right;
    margin: 30px;
    padding: 30px;
    color: rgb(216, 58, 111);
    font-size: larger;
}

.form1 {
    display: flexbox;
    flex-direction: column;
    margin: 15px 0px 0px 0px;



}


.texto__galeria,
.torta__galeria {
    text-align: justify;
    padding: 4rem;
}

.galeria__img1,
.galeria__img {
    padding: 0;
    margin: 0;
}

.h2__galeria,
.h2__historia {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

.rappi {
    width: 3.5rem;
    height: 3.5rem;
    position: fixed;
    top: 7rem;
    right: 0.5rem;
}

.flecha {
    width: 3.5rem;
    height: 3.5rem;
    position: fixed;
    top: 12rem;
    right: 0.5rem;
    background-color: black;
    border-radius: 50px;
}

.bg-gal{
    background-color: #6e2f24;
}









